<div id="advantages" class="vc_row wpb_row top-row vc_custom_1568138536228 vc_row-has-fill porto-inner-container">
    <div class="porto-wrap-container container">
        <div class="row">
            <div class="vc_column_container col-md-12">
                <div class="wpb_wrapper vc_column-inner">
                    <div class="porto-u-heading  wpb_custom_95aa9a11c17ad45cfabaf210d84ee7cc porto-u-6192">
                        <div class="porto-u-main-heading">
                            <h2 style="font-weight:700;margin-bottom: 4px;font-size:28px;line-height:34px;">
                                Advantages</h2>
                        </div>
                        <div class="porto-u-sub-heading"
                            style="font-weight:400;color: rgba(33,37,41,0.7);margin-bottom:32px;font-size:21px;">
                            Оbvious Benefits</div>
                        <style>
                            .porto-u-6192.porto-u-heading {
                                text-align: center
                            }

                        </style>
                    </div>
                    <div class="vc_row wpb_row vc_inner row content-grid no-padding">
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1575843064140  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-159394397664b7c6d170437"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_34.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            No Setup Fees</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        All regular costs, state
                                        fees and corporate tax duties of the
                                        rented company are covered by us.
                                    </div> <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573235611246  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-148621475664b7c6d170cae"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_31.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            No Accounting</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">We
                                        manage accounting and
                                        paperwork so you can focus solely on
                                        your work and clients.</div>
                                    <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573218433430  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-139707974664b7c6d17150c"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_5.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Professional Appearance</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        Our network of
                                        international companies allows you
                                        to build a professional business
                                        image.</div> <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573235629755  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-103003271964b7c6d171d2f"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_33.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Increase of Profit</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        Increase your profit by
                                        allocating the time you saved with
                                        Rent-a-Company to improve existing
                                        or bring new projects and clients.
                                    </div> <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573235653706  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-17526212364b7c6d172546"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_35.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Significant Tax Reduction</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        Pay your subcontractors and
                                        suppliers or withdraw money from
                                        rented company as compensation in
                                        order to reduce your taxable income.
                                    </div> <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-6 col-lg-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573218394823  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-169022809664b7c6d172d4c"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_4.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Easy-to-use Solution</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        Renting a company gives you
                                        all the privileges of owning a
                                        company without the drawbacks
                                        thereof. Complete solution for your
                                        business needs.</div>
                                    <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573235738239  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-137419777264b7c6d17357b"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_32.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Privacy is Guaranteed</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">We
                                        are committed to
                                        protecting and respecting the
                                        privacy and confidentiality of
                                        personal information belonging to
                                        our clients.</div>
                                    <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573231445963  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-209780733764b7c6d173d75"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_27 (1).png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Online Invoicing</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        You can create online and
                                        send invoices to your clients from
                                        the rented company of your choice.
                                        Enjoy professional Invoice Design
                                        and online payment solutions.</div>
                                    <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573218349629  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-10379765564b7c6d1745a7"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_6 (1).png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Online Banking</h3>
                                    </div> <!-- header -->
                                    <div class="porto-sicon-description" style="">
                                        Online Banking offers a
                                        convenient way to manage finances
                                        with ease. View statements, process
                                        payments, pay invoices and more.
                                    </div> <!-- description -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236901018  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-73418416564b7c6d174da5"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_30.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Personal Manager</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236352339  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-85775347064b7c6d1755a1"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_28.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Incorporation Documents</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236392676  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-49476518864b7c6d175d7e"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_29.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Customization Service</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236447798  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-71582350564b7c6d176586"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_12.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Accept PayPal</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236507753  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-45380630764b7c6d176d71"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_7.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Accept Credit/Debit Cards</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573684390240  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-57617195464b7c6d177561"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/vat_rent.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            European VAT Number</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236709974  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-45098975964b7c6d177d4b"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_11.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Corporate Bank Account</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236755976  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-41044062964b7c6d178534"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_10.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Power of Attorney</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1573236823732  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-190147593664b7c6d178d2e"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icon_rentacompany_8.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Online Onboarding</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1598483774248  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-24654893464b7c6d17952d"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icons_rent_38.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Send Payment Links</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1598483894914  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-29437316964b7c6d179cf2"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icons_rent_37.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Get Your Debit Card</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                        <div class="content-grid-item vc_column_container col-md-4">
                            <div class="wpb_wrapper vc_column-inner">
                                <div
                                    class="porto-sicon-box  vc_custom_1598483966298  wpb_custom_1efe903570d178ff0a9b7bfa5febd3a4 style_1 top-icon">
                                    <div class="porto-sicon-top">
                                        <div id="porto-icon-144055924264b7c6d17a4c1"
                                            class="porto-just-icon-wrapper porto-sicon-img" style="font-size: 100px;">
                                            <img class="img-icon" alt=""
                                                src="/assets/image/icons_rent_36.png"
                                                width="100" height="100" />
                                        </div>
                                    </div>
                                    <div class="porto-sicon-header">
                                        <h3 class="porto-sicon-title"
                                            style="font-weight:600;font-size:21px;line-height:24px;color:#212529;">
                                            Marketplace Account</h3>
                                    </div> <!-- header -->
                                </div><!-- porto-sicon-box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
