<div id="feecalculator"
class="vc_row wpb_row top-row vc_custom_1573382602345 vc_row-has-fill porto-inner-container">
<div class="porto-wrap-container container">
    <div class="row">
        <div class="vc_column_container col-md-12">
            <div class="wpb_wrapper vc_column-inner">
                <div
                    class="porto-u-heading  wpb_custom_95aa9a11c17ad45cfabaf210d84ee7cc porto-u-1423">
                    <div class="porto-u-main-heading">
                        <h2
                            style="font-weight:700;margin-bottom: 4px;font-size:28px;line-height:34px;">
                            Fee Calculator</h2>
                    </div>
                    <div class="porto-u-sub-heading"
                        style="font-weight:400;color: rgba(33,37,41,0.7);margin-bottom:20px;font-size:21px;">
                        Use Fee Calculator to precisely work out your
                        fees</div>
                    <style>
                        .porto-u-1423.porto-u-heading {
                            text-align: center
                        }

                    </style>
                </div>
                <p style="font-size: 18px;text-align: center"
                    class="vc_custom_heading">Here you can calculate the
                    amount you will get after your client pays to Rented
                    Company and see the fees that will be charged</p>
                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">
                        <div class="btQuoteBooking  btQuoteBookingWithColor c64b7c6d1a1980"
                            data-admin_email="info@bold-themes.com"
                            data-cf7_id="" data-email_client=""
                            data-email_gdpr="" data-email_gdpr_text=""
                            data-email_gdpr_not_text="" data-email_rtl=""
                            data-currency="€" data-currency_after=""
                            data-currency_space="yes" data-url_confirmation=""
                            data-url_ajax="https://rentacompany.com/wp-admin/admin-ajax.php"
                            data-subject="Cost Calculator Demo"
                            data-email_header="" data-email_footer=""
                            data-date_text="Preferred Service Date"
                            data-time_text="Preferred Service Time"
                            data-message_please_wait="Please wait..."
                            data-message_success="Thank you, we will contact you soon!"
                            data-message_error="Error! Please try again later."
                            data-message_mandatory="Please fill out all required fields."
                            data-rec_secret_key="6LfFkwwTAAAAAISTsj7_TFvxLAG5AvoNK-4JA5Zk"
                            data-total_text="The amount you can withdraw"
                            data-total_format="currency_1"
                            data-total_decimals="2" data-date_format="mm/dd/yy"
                            data-bt_cc_nonce="b5c2b6ca78" data-hide_total="">
                            <div class="btQuoteBookingWrap">
                                <div class="btQuoteBookingForm btActive">
                                    <div class="bt_cc_separator bt_cc_bottom_spacing_normal bt_cc_border_style_solid"
                                        id="bt_cc_separator64b7c6d1a1b45">
                                    </div>
                                    <div class="btQuoteGBlock "
                                        data-eval="dmFyIGFtb3VudCA9ICQxOwoKdmFyIHJhdGUgPSBhbW91bnQgKiAwLjA0OTk7CnZhciBzdWJ0b3RhbCA9IGFtb3VudCAtIHJhdGU7CnZhciBmaW5hbF9yZXMgPSBzdWJ0b3RhbCAtIDU7CgpyZXR1cm4gZmluYWxfcmVzOw=="
                                        data-paypal_label=""
                                        id="btQuoteItem64b7c6d1a1b83">
                                        <div class="btQuoteItem "
                                            id="btQuoteItem64b7c6d1a1d17">
                                            <label>Your
                                                turnover:</label>
                                            <div class="btQuoteItemInput">
                                                <input type="text"
                                                    class="btQuoteText btQuoteElement"
                                                    data-condition="PiAwO2xvY2tfcGFydG5lcnNoaXBmZWU7c2hvdygpO2xvY2s7Cj4gMDtsb2NrX3Byb2Nlc3NpbmdmZWU7c2hvdygpO2xvY2s7"
                                                    data-price="1" value="10000"
                                                    data-initial-value="10000" />
                                                <div
                                                    class="btQuoteItemDescription">
                                                    The amount your
                                                    client will pay to
                                                    Rented Company (€):
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btQuoteItem "
                                            id="lock_partnershipfee">
                                            <label>Partnership Fee
                                                (%)</label>
                                            <div class="btQuoteItemInput">
                                                <input type="text"
                                                    class="btQuoteText btQuoteElement"
                                                    data-condition=""
                                                    data-price="0" value="4.99"
                                                    data-initial-value="4.99" />
                                            </div>
                                        </div>
                                        <div class="btQuoteItem "
                                            id="lock_processingfee">
                                            <label>Processing Fee
                                                (€):</label>
                                            <div class="btQuoteItemInput">
                                                <input type="text"
                                                    class="btQuoteText btQuoteElement"
                                                    data-condition=""
                                                    data-price="0" value="5"
                                                    data-initial-value="5" />
                                                <div
                                                    class="btQuoteItemDescription">
                                                    You pay the
                                                    Processing Fee ONLY
                                                    for outgoing bank
                                                    payments</div>
                                            </div>
                                        </div>
                                        <div class="bt_cc_separator bt_cc_bottom_spacing_normal bt_cc_border_style_solid"
                                            id="bt_cc_separator64b7c6d1a2060">
                                        </div>
                                    </div>
                                    <div class="btTotalNextWrapper">
                                        <div class="btQuoteTotal"><span
                                                class="btQuoteTotalText">The
                                                amount you can
                                                withdraw</span><span
                                                class="btQuoteTotalCurrency">€&nbsp;</span><span
                                                class="btQuoteTotalCalc"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="vc_btn3-container  btn-style-1 hash-scroll-wrap font-size-md vc_btn3-center">
                    <a class="vc_btn3 vc_btn3-shape-round wpb_custom_6687b26f39488ddbb85ddb3c1ce8e111 btn btn-borders btn-md btn-primary"
                        href="#pricing" title="">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>