	<!-- header wrapper -->
    <div class="header-wrapper fixed-header">


        <header id="header" class="header-builder">

            <div class="header-top">
                <div class="header-row container">
                    <div class="header-col header-right">
                        <div class="custom-html">
                            <div class="gtranslate_wrapper" id="gt-wrapper-14966136"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main header-has-center">
                <div class="header-row container">
                    <div class="header-col header-left">
                        <h1 class="logo">
                            <a href="index.html"
                                title="Rent a Company - Why own a company when you can rent one?" rel="home">
                                <img class="img-responsive sticky-logo"
                                    src="image/RENTACOMPANY_logo100_2"
                                    alt="Rent a Company" />

                                    <img class="img-responsive sticky-retina-logo"
                                    src="image/RENTACOMPANY_logo100_2"
                                    alt="Rent a Company" style="max-height:px;" />


                                    <img
                                    class="img-responsive standard-logo" width="250" height="115"
                                    src="image/renta_logo_footer_3"
                                    alt="Rent a Company" /><img class="img-responsive retina-logo" width="500"
                                    height="230" src="image/renta_logo_500_1.png"
                                    alt="Rent a Company" style="max-height:230px;" /> </a>
                        </h1>
                    </div>
                    <div class="header-col header-center">
                        <ul id="menu-main-menu" class="main-menu mega-menu">
                            <li id="nav-menu-item-3062"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item active narrow">
                                <a href="index.html" class=" current">Home</a></li>
                            <li id="nav-menu-item-3063"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home narrow">
                                <a href="index.html#about" class=" current">Why Rent-a-Company</a></li>
                            <li id="nav-menu-item-3064"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home narrow">
                                <a href="index.html#advantages" class=" current">Advantages</a></li>
                            <li id="nav-menu-item-3065"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children has-sub narrow">
                                <a href="index.html#howitworks" class=" current">How it Works</a>
                                <div class="popup">
                                    <div class="inner" style="">
                                        <ul class="sub-menu">
                                            <li id="nav-menu-item-3066"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#companies">Companies</a></li>
                                            <li id="nav-menu-item-3067"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#pricing">Pricing</a></li>
                                            <li id="nav-menu-item-4415"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#feecalculator">Fee
                                                    Calculator</a></li>
                                            <li id="nav-menu-item-11650"
                                                class="menu-item menu-item-type-post_type menu-item-object-page"
                                                data-cols="1"><a href="wizard/index.html">Wizard: Choose the
                                                    Right Plan</a></li>
                                            <li id="nav-menu-item-3602"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#CaseStudies">Case Studies</a>
                                            </li>
                                            <li id="nav-menu-item-7237"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#team">Team</a></li>
                                            <li id="nav-menu-item-3068"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"
                                                data-cols="1"><a href="index.html#faq">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li id="nav-menu-item-12198"
                                class="menu-item menu-item-type-post_type menu-item-object-page narrow"><a
                                    href="support/index.html">Support</a></li>
                        </ul>
                    </div>
                    <div class="header-col header-right">
                        <div class="custom-html"><a
                                class="btn btn-primary btn-full-rounded font-weight-semibold order-1 order-lg-2 d-none d-md-block font-size-md hash-scroll"
                                href="index.html#pricing" style="padding: 13px 38px;">Get Started Now</a></div>
                        <a class="mobile-toggle" href="#" aria-label="Mobile Menu"><i
                                class="fas fa-bars"></i></a>
                    </div>
                </div>
                <div id="nav-panel">
                    <div class="container">
                        <div class="mobile-nav-wrap">
                            <div class="menu-wrap">
                                <ul id="menu-main-menu-1" class="mobile-menu accordion-menu">
                                    <li id="accordion-menu-item-3062"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item active">
                                        <a href="index.html" class=" current ">Home</a></li>
                                    <li id="accordion-menu-item-3063"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                        <a href="index.html#about" class=" current ">Why Rent-a-Company</a></li>
                                    <li id="accordion-menu-item-3064"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                        <a href="index.html#advantages" class=" current ">Advantages</a></li>
                                    <li id="accordion-menu-item-3065"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children has-sub">
                                        <a href="index.html#howitworks" class=" current ">How it Works</a>
                                        <span class="arrow"></span>
                                        <ul class="sub-menu">
                                            <li id="accordion-menu-item-3066"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#companies">Companies</a></li>
                                            <li id="accordion-menu-item-3067"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#pricing">Pricing</a></li>
                                            <li id="accordion-menu-item-4415"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#feecalculator">Fee Calculator</a></li>
                                            <li id="accordion-menu-item-11650"
                                                class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="wizard/index.html">Wizard: Choose the Right Plan</a>
                                            </li>
                                            <li id="accordion-menu-item-3602"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#CaseStudies">Case Studies</a></li>
                                            <li id="accordion-menu-item-7237"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#team">Team</a></li>
                                            <li id="accordion-menu-item-3068"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                                                <a href="index.html#faq">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li id="accordion-menu-item-12198"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                            href="support/index.html">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
    <!-- end header wrapper -->