<div
class="vc_row wpb_row top-row vc_custom_1568142056211 section section-parallax mt-0 section-no-borders vc_row-has-fill porto-inner-container">
<div class="porto-wrap-container container">
	<div class="row align-items-center">
		<div class="vc_column_container col-md-3 col-lg-3">
			<div class="wpb_wrapper vc_column-inner">
				<h2 style="font-size: 25px;line-height: 32px;font-weight:600"
					data-appear-animation="fadeInLeft"
					data-appear-animation-delay="1000"
					class="vc_custom_heading mb-3 mb-lg-0 align-left">As
					Featured In</h2>
			</div>
		</div>
		<div class="vc_column_container col-md-9">
			<div class="wpb_wrapper vc_column-inner">
				<div class="porto-carousel owl-carousel has-ccols ccols-xl-5 ccols-lg-4 ccols-md-3 ccols-sm-2 ccols-1 carousel-center-active-item mb-0 wpb_custom_c86c2fb53cae9eced42d4b8900a042f3"
					data-plugin-options="{&quot;stagePadding&quot;:0,&quot;margin&quot;:0,&quot;autoplay&quot;:&quot;yes&quot;,&quot;mouseDrag&quot;:true,&quot;touchDrag&quot;:true,&quot;autoplayTimeout&quot;:1000,&quot;autoplayHoverPause&quot;:false,&quot;items&quot;:5,&quot;lg&quot;:4,&quot;md&quot;:3,&quot;sm&quot;:2,&quot;xs&quot;:1,&quot;nav&quot;:false,&quot;dots&quot;:false,&quot;animateIn&quot;:&quot;&quot;,&quot;animateOut&quot;:&quot;&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;center&quot;:&quot;yes&quot;,&quot;video&quot;:false,&quot;lazyLoad&quot;:false,&quot;fullscreen&quot;:false}">
					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_19.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_17.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_16.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_11.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_8.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_6.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_3.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_2.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>

					<div
						class="wpb_single_image wpb_content_element vc_align_center">
						<div class="wpb_wrapper">

							<div
								class="vc_single_image-wrapper   vc_box_border_grey">
								<img width="390" height="73"
									src="image/logo_buy2_1.png"
									class="vc_single_image-img attachment-full"
									alt="" decoding="async" loading="lazy" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>