<div class="vc_row wpb_row top-row vc_custom_1557864565675 porto-inner-container">
    <div class="porto-wrap-container container">
        <div class="row align-items-center">
            <div class="pl-lg-5 vc_column_container col-md-12 col-lg-7">
                <div class="wpb_wrapper vc_column-inner">
                    <div class="porto-u-heading  wpb_custom_95aa9a11c17ad45cfabaf210d84ee7cc porto-u-2159">
                        <div class="porto-u-main-heading">
                            <h2 style="font-weight:700;margin-bottom: 4px;font-size:28px;line-height:34px;">
                                3 important questions</h2>
                        </div>
                        <div class="porto-u-sub-heading"
                            style="font-weight:400;color: rgba(33,37,41,0.7);margin-bottom:32px;font-size:21px;">
                            Get it Right</div>
                        <style>
                            .porto-u-2159.porto-u-heading {
                                text-align: left
                            }

                        </style>
                    </div>
                    <div class="porto-toggles wpb_content_element  toggle-primary" data-view="one-toggle">
                        <section class="toggle  active "><label>What will
                                you get when you rent a company</label>
                            <div class="toggle-content">
                                <ul>
                                    <li><strong>Company Profile</strong>
                                        with all company details, including
                                        Bank Account</li>
                                    <li>Access to online <strong>Invoicing
                                            Platform</strong> to invoice
                                        your customers on behalf of the
                                        rented company</li>
                                    <li>Access to <strong>Online
                                            Banking</strong> to monitor
                                        incoming payments from your
                                        customers and create outgoing
                                        payments (Professional, Elite and
                                        Custom Plan)</li>
                                    <li><strong>Personal Account
                                            Manager</strong> who will help
                                        you get the maximum benefit from
                                        using your rented company (Elite and
                                        Custom Plan)</li>
                                    <li>Other <strong>Convenient
                                            Features</strong> depending on
                                        the selected plan</li>
                                </ul>
                            </div>
                        </section>
                        <section class="toggle  "><label>What can you do
                                with a rented company</label>
                            <div class="toggle-content">
                                <ul>
                                    <li><strong>Invoice your
                                            customers</strong> on behalf of
                                        the rented company</li>
                                    <li><strong>Receive bank transfers
                                        </strong>from your customers to the
                                        bank account of the rented company
                                    </li>
                                    <li><strong>Get paid online</strong> via
                                        PayPal, credit/debit cards and other
                                        electronic payment methods (depends
                                        on the selected plan)</li>
                                    <li><strong>Pay invoices</strong> to
                                        your suppliers and send bank
                                        transfers</li>
                                    <li><strong>Withdraw money</strong>
                                        anytime to your bank account,
                                        PayPal, debit/credit card or
                                        e-wallet (depends on the selected
                                        plan)</li>
                                    <li><strong>Connect external
                                            accounts</strong> to your rented
                                        company: PayPal, Stripe, Mollie,
                                        Shopify, Amazon, eBay, etc. (depends
                                        on the selected plan)</li>
                                    <li>Other <strong>Convenient
                                            Features</strong> depending on
                                        the selected plan</li>
                                </ul>
                            </div>
                        </section>
                        <section class="toggle  "><label>What can't you do
                                with a rented company</label>
                            <div class="toggle-content">
                                <ul>
                                    <li>Engage in illegal activities</li>
                                    <li>Engage in activities requiring a
                                        license</li>
                                    <li>Get loans and borrow money</li>
                                    <li>Launder money</li>
                                    <li>Buy and sell forged, counterfeit and
                                        stolen goods</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="vc_btn3-container  btn-style-1 hash-scroll-wrap font-size-md vc_btn3-inline">
                        <a class="vc_btn3 vc_btn3-shape-round wpb_custom_6687b26f39488ddbb85ddb3c1ce8e111 btn btn-borders btn-md btn-primary"
                            href="#pricing" title="">Get Started Now</a>
                    </div>
                </div>
            </div>
            <div class="mb-4 mb-md-5 mb-lg-0 vc_column_container col-md-12 col-lg-5">
                <div class="wpb_wrapper vc_column-inner">
                    <div class="porto-carousel owl-carousel has-ccols has-ccols-spacing ccols-1 stage-margin wpb_custom_70a89e142ccf56dcd4c7bfc4b40db368"
                        data-plugin-options="{&quot;stagePadding&quot;:40,&quot;margin&quot;:10,&quot;autoplay&quot;:&quot;yes&quot;,&quot;mouseDrag&quot;:true,&quot;touchDrag&quot;:true,&quot;autoplayTimeout&quot;:5000,&quot;autoplayHoverPause&quot;:&quot;true&quot;,&quot;items&quot;:1,&quot;lg&quot;:1,&quot;md&quot;:1,&quot;sm&quot;:1,&quot;xs&quot;:1,&quot;nav&quot;:false,&quot;dots&quot;:&quot;yes&quot;,&quot;animateIn&quot;:&quot;bounceIn&quot;,&quot;animateOut&quot;:&quot;fadeOut&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;center&quot;:false,&quot;video&quot;:false,&quot;lazyLoad&quot;:false,&quot;fullscreen&quot;:false}">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">

                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="805" height="768"
                                        src="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_15a1c.png?fit=805%2C768&amp;ssl=1"
                                        class="vc_single_image-img attachment-full" alt="" decoding="async"
                                        loading="lazy" title="started_box_rent_1"
                                        srcset="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?w=805&amp;ssl=1 805w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?resize=768%2C733&amp;ssl=1 768w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?resize=640%2C611&amp;ssl=1 640w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?resize=400%2C382&amp;ssl=1 400w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?resize=600%2C572&amp;ssl=1 600w"
                                        sizes="(max-width: 805px) 100vw, 805px" data-attachment-id="3452"
                                        data-permalink="https://rentacompany.com/?attachment_id=3452"
                                        data-orig-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?fit=805%2C768&amp;ssl=1"
                                        data-orig-size="805,768" data-comments-opened="1"
                                        data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                        data-image-title="started_box_rent_1" data-image-description=""
                                        data-image-caption=""
                                        data-medium-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?fit=300%2C286&amp;ssl=1"
                                        data-large-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/started_box_rent_1.png?fit=805%2C768&amp;ssl=1" />
                                </div>
                            </div>
                        </div>

                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">

                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="805" height="768"
                                        src="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_15a1c.png?fit=805%2C768&amp;ssl=1"
                                        class="vc_single_image-img attachment-full" alt="" decoding="async"
                                        loading="lazy" title="Professional_box_rent_1"
                                        srcset="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?w=805&amp;ssl=1 805w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?resize=768%2C733&amp;ssl=1 768w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?resize=640%2C611&amp;ssl=1 640w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?resize=400%2C382&amp;ssl=1 400w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?resize=600%2C572&amp;ssl=1 600w"
                                        sizes="(max-width: 805px) 100vw, 805px" data-attachment-id="3453"
                                        data-permalink="https://rentacompany.com/?attachment_id=3453"
                                        data-orig-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?fit=805%2C768&amp;ssl=1"
                                        data-orig-size="805,768" data-comments-opened="1"
                                        data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                        data-image-title="Professional_box_rent_1" data-image-description=""
                                        data-image-caption=""
                                        data-medium-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?fit=300%2C286&amp;ssl=1"
                                        data-large-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Professional_box_rent_1.png?fit=805%2C768&amp;ssl=1" />
                                </div>
                            </div>
                        </div>

                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">

                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="805" height="768"
                                        src="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_15a1c.png?fit=805%2C768&amp;ssl=1"
                                        class="vc_single_image-img attachment-full" alt="" decoding="async"
                                        loading="lazy" title="Elite_box_rent_1"
                                        srcset="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?w=805&amp;ssl=1 805w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?resize=768%2C733&amp;ssl=1 768w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?resize=640%2C611&amp;ssl=1 640w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?resize=400%2C382&amp;ssl=1 400w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?resize=600%2C572&amp;ssl=1 600w"
                                        sizes="(max-width: 805px) 100vw, 805px" data-attachment-id="3455"
                                        data-permalink="https://rentacompany.com/?attachment_id=3455"
                                        data-orig-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?fit=805%2C768&amp;ssl=1"
                                        data-orig-size="805,768" data-comments-opened="1"
                                        data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                        data-image-title="Elite_box_rent_1" data-image-description=""
                                        data-image-caption=""
                                        data-medium-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?fit=300%2C286&amp;ssl=1"
                                        data-large-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Elite_box_rent_1.png?fit=805%2C768&amp;ssl=1" />
                                </div>
                            </div>
                        </div>

                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <div class="wpb_wrapper">

                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="805" height="768"
                                        src="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_15a1c.png?fit=805%2C768&amp;ssl=1"
                                        class="vc_single_image-img attachment-full" alt="" decoding="async"
                                        loading="lazy" title="Custom_box_rent_1"
                                        srcset="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?w=805&amp;ssl=1 805w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?resize=768%2C733&amp;ssl=1 768w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?resize=640%2C611&amp;ssl=1 640w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?resize=400%2C382&amp;ssl=1 400w, https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?resize=600%2C572&amp;ssl=1 600w"
                                        sizes="(max-width: 805px) 100vw, 805px" data-attachment-id="3454"
                                        data-permalink="https://rentacompany.com/?attachment_id=3454"
                                        data-orig-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?fit=805%2C768&amp;ssl=1"
                                        data-orig-size="805,768" data-comments-opened="1"
                                        data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                        data-image-title="Custom_box_rent_1" data-image-description=""
                                        data-image-caption=""
                                        data-medium-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?fit=300%2C286&amp;ssl=1"
                                        data-large-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/Custom_box_rent_1.png?fit=805%2C768&amp;ssl=1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
