<div id="faq" class="vc_row wpb_row top-row vc_custom_1568185249641 vc_row-has-fill porto-inner-container">
    <div class="porto-wrap-container container">
        <div class="row">
            <div class="vc_column_container col-md-12">
                <div class="wpb_wrapper vc_column-inner">
                    <div class="porto-u-heading  wpb_custom_95aa9a11c17ad45cfabaf210d84ee7cc porto-u-8432">
                        <div class="porto-u-main-heading">
                            <h2 style="font-weight:700;margin-bottom: 4px;font-size:28px;line-height:34px;">
                                Frequently Asked Questions</h2>
                        </div>
                        <div class="porto-u-sub-heading"
                            style="font-weight:400;color: rgba(33,37,41,0.7);margin-bottom:32px;font-size:21px;">
                            We are here to answer all your questions about
                            Rent-a-Company services.</div>
                        <style>
                            .porto-u-8432.porto-u-heading {
                                text-align: center
                            }

                        </style>
                    </div>
                    <div class="porto-faqs porto-faqsg7y4 wpb_content_element ">
                        <div class="page-faqs clearfix wpb_custom_7fe7ddf8f1a240d6488c8a8c41279112"
                            id="porto_faqs_czoo">

                            <ul class="faq-filter nav nav-pills sort-source">
                                <li class="active" data-filter="*"><a>Show
                                        All</a></li>
                                <li data-filter="general-questions">
                                    <a>General Questions</a>
                                </li>
                                <li data-filter="invoices-payments">
                                    <a>Invoices &amp; Payments</a>
                                </li>
                                <li data-filter="plans-fees"><a>Plans &amp;
                                        Fees</a></li>
                            </ul>
                            <hr>


                            <div class="faq-row faqs-container">

                                <div
                                    class="faq general-questions post-2636 type-faq status-publish hentry faq_cat-general-questions">
                                    <section class="toggle">
                                        <label>What is Rent-a-Company
                                            service?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">What
                                                is Rent-a-Company service?
                                            </h3><span class="vcard" style="display: none;"><span class="fn"><a
                                                        href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2020-02-08T08:21:19+00:00</span>Through
                                            Rent-a-Company service,
                                            entrepreneurs (and freelancers)
                                            can use our existing companies
                                            in order to invoice their
                                            clients, get paid and pay their
                                            suppliers. This way, they avoid
                                            all the costs and paperwork of
                                            incorporating their own company.
                                            When the rented company receives
                                            clients’ payment(s), users can
                                            withdraw funds to their bank
                                            account and/or pay third party
                                            invoices.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq general-questions post-2785 type-faq status-publish hentry faq_cat-general-questions">
                                    <section class="toggle">
                                        <label>What types of businesses does
                                            Rent-a-Company support?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">What
                                                types of businesses does
                                                Rent-a-Company support?</h3>
                                            <span class="vcard" style="display: none;"><span class="fn"><a
                                                        href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2019-09-13T06:27:36+01:00</span>
                                            <p>We serve all types of
                                                business except the
                                                following exceptions:</p>



                                            <ul>
                                                <li>Terrorism-financing</li>
                                                <li>Money laundering</li>
                                                <li>Tax evasion</li>
                                                <li>Human-trafficking</li>
                                                <li>Prostitution</li>
                                                <li>Pornography</li>
                                                <li>Gambling</li>
                                                <li>Trust services</li>
                                                <li>Sale and/or purchase of:
                                                    <ul>
                                                        <li>Narcotics,
                                                            steroids, drugs
                                                            or other
                                                            controlled
                                                            substances</li>
                                                        <li>Drug
                                                            paraphernalia
                                                        </li>
                                                        <li>Prescription
                                                            drugs</li>
                                                        <li>Items that
                                                            promote or
                                                            facilitate
                                                            illegal activity
                                                        </li>
                                                        <li>Stolen goods
                                                        </li>
                                                        <li>Items or
                                                            services that
                                                            directly or
                                                            indirectly
                                                            promote or
                                                            facilitate
                                                            social, racial,
                                                            religious, or
                                                            ethnic strife;
                                                            discrimination,
                                                            hate, violence,
                                                            revenge,
                                                            harassment or
                                                            racial
                                                            intolerance</li>
                                                        <li>Items that are
                                                            considered
                                                            obscene</li>
                                                        <li>Ammunition,
                                                            firearms or
                                                            other weapons
                                                            that require
                                                            licensing,
                                                            defense
                                                            products,
                                                            replicas of
                                                            firearms or cold
                                                            steel weapons
                                                        </li>
                                                        <li>Personal
                                                            information or
                                                            personal data
                                                            suitable for
                                                            undertaking
                                                            illegal
                                                            activities (spam
                                                            e-mails, etc.)
                                                        </li>
                                                        <li>Identification
                                                            documents and
                                                            government-issued
                                                            documents
                                                            (including
                                                            falsified
                                                            documents) and
                                                            other activities
                                                            involving the
                                                            creation or
                                                            obtaining false
                                                            identification
                                                            documents or
                                                            counterfeit
                                                            government-issued
                                                            documents</li>
                                                        <li>Information that
                                                            violates a
                                                            person’s
                                                            privacy,
                                                            infringing upon
                                                            the honour,
                                                            dignity and
                                                            business
                                                            reputation of
                                                            individuals and
                                                            legal entities
                                                        </li>
                                                        <li>Items or
                                                            services that
                                                            violate the
                                                            norms of public
                                                            morality
                                                            (including, but
                                                            not limited to,
                                                            prostitution,
                                                            illegal escort
                                                            services, child
                                                            pornography, and
                                                            Nazi memorabilia
                                                            items)</li>
                                                        <li>Any equipment
                                                            used to organize
                                                            and conduct
                                                            gambling</li>
                                                        <li>Unlicensed or
                                                            illegal
                                                            lotteries or
                                                            gambling
                                                            services</li>
                                                        <li>Any equipment
                                                            used to organize
                                                            and conduct
                                                            gambling</li>
                                                        <li>Unregistered
                                                            charity services
                                                            items which
                                                            directly or
                                                            indirectly
                                                            encourage or
                                                            facilitate
                                                            illegal
                                                            activities</li>
                                                        <li>Extortion or
                                                            blackmail</li>
                                                        <li>Devices used for
                                                            hacking and
                                                            tampering with
                                                            locks</li>
                                                        <li>Malicious
                                                            software</li>
                                                        <li>Fake or
                                                            counterfeit
                                                            goods</li>
                                                        <li>Financial or
                                                            payment
                                                            instruments
                                                            whose accounting
                                                            systems do not
                                                            ensure proper
                                                            identification
                                                            of the owner for
                                                            the purpose of
                                                            combating
                                                            illegal trade,
                                                            financial fraud,
                                                            and money
                                                            laundering of
                                                            funds obtained
                                                            by illegal means
                                                        </li>
                                                        <li>Dangerous goods,
                                                            including, but
                                                            not limited to,
                                                            those that
                                                            contain
                                                            explosive,
                                                            toxic,
                                                            poisonous,
                                                            and/or
                                                            radioactive
                                                            materials</li>
                                                    </ul>
                                                </li>
                                                <li>any other activities
                                                    that may damage the
                                                    reputation of the
                                                    Rent-a-Company.</li>
                                            </ul>



                                            <p>&nbsp;</p>
                                        </div>
                                    </section>
                                </div>

                                <div class="faq plans-fees post-2811 type-faq status-publish hentry faq_cat-plans-fees">
                                    <section class="toggle">
                                        <label>Do I have any accounting or
                                            corporate tax duties for the
                                            rented company?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">Do I
                                                have any accounting or
                                                corporate tax duties for the
                                                rented company?</h3><span class="vcard" style="display: none;"><span
                                                    class="fn"><a href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2019-09-13T07:35:30+01:00</span>There
                                            are no accounting nor tax duties
                                            imposed on the rented company.
                                            We cover all regular costs and
                                            tax duties of the rented company
                                            and we take care of the
                                            accounting and paperwork so that
                                            you do not need to take care of
                                            such matters yourself.
                                        </div>
                                    </section>
                                </div>

                                <div class="faq plans-fees post-2812 type-faq status-publish hentry faq_cat-plans-fees">
                                    <section class="toggle">
                                        <label>What if I need a custom
                                            service which is not included in
                                            Rent-a-Company&#8217;s regular
                                            offer?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">What
                                                if I need a custom service
                                                which is not included in
                                                Rent-a-Company&#8217;s
                                                regular offer?</h3><span class="vcard" style="display: none;"><span
                                                    class="fn"><a href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2019-09-13T07:36:48+01:00</span>One
                                            of the specialties of
                                            Rent-a-Company’s service is the
                                            possibility to fulfill different
                                            business requirements of our
                                            customers. So, if you need any
                                            kind of service which is not
                                            mentioned as a part of our
                                            regular offer, please share your
                                            requirements with us and we will
                                            try to find the best possible
                                            solution for you.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq general-questions post-2813 type-faq status-publish hentry faq_cat-general-questions">
                                    <section class="toggle">
                                        <label>What is the legal form of
                                            business relationship between
                                            me, my client and the rented
                                            company?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">What
                                                is the legal form of
                                                business relationship
                                                between me, my client and
                                                the rented company?</h3>
                                            <span class="vcard" style="display: none;"><span class="fn"><a
                                                        href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2019-09-13T07:40:52+01:00</span>The
                                            rented company acts as a
                                            commission agent between you and
                                            your client. This means that
                                            rented company acts on its own
                                            behalf but to the benefit of
                                            you.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq invoices-payments post-2814 type-faq status-publish hentry faq_cat-invoices-payments">
                                    <section class="toggle">
                                        <label>What information will be
                                            displayed on the invoices issued
                                            to my clients?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">What
                                                information will be
                                                displayed on the invoices
                                                issued to my clients?</h3>
                                            <span class="vcard" style="display: none;"><span class="fn"><a
                                                        href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2020-02-08T08:46:20+00:00</span>All
                                            details of your Rented Company
                                            will be displayed on the
                                            invoices, as well as details of
                                            your client (full [company]
                                            name, address, company number,
                                            tax number). Also, in order to
                                            create an invoice you have to
                                            enter the description of the
                                            products/services provided
                                            together with its price. After
                                            you create an invoice, it
                                            undergoes the verification
                                            process. Only after the invoice
                                            has been approved by our
                                            department, you can send it to
                                            your client.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq invoices-payments post-2816 type-faq status-publish hentry faq_cat-invoices-payments">
                                    <section class="toggle">
                                        <label>Will my name appear on the
                                            invoice sent to my
                                            client?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">Will
                                                my name appear on the
                                                invoice sent to my client?
                                            </h3><span class="vcard" style="display: none;"><span class="fn"><a
                                                        href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2019-09-13T07:59:35+01:00</span>Your
                                            name will not appear on the
                                            invoice unless you write it as a
                                            note in the products/services
                                            description field.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq invoices-payments post-2821 type-faq status-publish hentry faq_cat-invoices-payments">
                                    <section class="toggle">
                                        <label>Where do I see payments
                                            received from my
                                            clients?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">Where
                                                do I see payments received
                                                from my clients?</h3><span class="vcard" style="display: none;"><span
                                                    class="fn"><a href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2020-02-08T08:49:15+00:00</span>After
                                            your invoice is approved and
                                            sent to your client, you get a
                                            notification as soon as the
                                            payment for it has been
                                            received. Transaction history
                                            and information about the
                                            available balance are displayed
                                            in your Online Banking, so you
                                            can always know what amount is
                                            available for withdrawal or
                                            payments to your suppliers or
                                            associates.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq invoices-payments post-2824 type-faq status-publish hentry faq_cat-invoices-payments">
                                    <section class="toggle">
                                        <label>How can I send a payment to
                                            my supplier?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">How
                                                can I send a payment to my
                                                supplier?</h3><span class="vcard" style="display: none;"><span
                                                    class="fn"><a href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2020-02-08T08:51:41+00:00</span>Sending
                                            a payment is very easy – you
                                            just need to create an outgoing
                                            payment in your Online Banking
                                            and upload the invoice from your
                                            supplier. After you create an
                                            outgoing payment, it goes
                                            through the approval process
                                            and, once approved, the payment
                                            will be sent to your supplier
                                            from your Rented Company.
                                        </div>
                                    </section>
                                </div>

                                <div
                                    class="faq invoices-payments post-2826 type-faq status-publish hentry faq_cat-invoices-payments">
                                    <section class="toggle">
                                        <label>How long does it take for a
                                            payment order to be
                                            processed?</label>
                                        <div class="toggle-content">
                                            <h3 class="entry-title" style="display: none;">How
                                                long does it take for a
                                                payment order to be
                                                processed?</h3><span class="vcard" style="display: none;"><span
                                                    class="fn"><a href="author/blausteinmonaco/index.html"
                                                        title="Posts by BlauStein"
                                                        rel="author">BlauStein</a></span></span><span class="updated"
                                                style="display:none">2020-02-08T08:53:41+00:00</span>Each
                                            outgoing payment goes through
                                            the approval process by the
                                            bank, which usually takes a
                                            couple of hours. After that, if
                                            the outgoing payment is
                                            approved, it is processed on the
                                            same day. SEPA payments are
                                            usually visible on the
                                            recipient’s account on the same
                                            or the next working day while
                                            the international payments can
                                            take up to 1-2 days longer.
                                        </div>
                                    </section>
                                </div>
                            </div>


                        </div>

                        <div class="push-top m-b-xxl text-center">
                            <a class="btn btn-primary" href="faq/index.html">View
                                More</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
