
	<!-- footer start -->
	<div class="footer-wrapper">
		<div id="footer" class="footer footer-1">
			<div class="footer-main">
				<div class="container">

					<div class="row">
						<div class="col-lg-3">
							<aside id="custom_html-2" class="widget_text widget widget_custom_html">
								<h3 class="widget-title">Why Rent-a-Company?</h3>
								<div class="textwidget custom-html-widget">With Rent-a-Company you can easily
									invoice your clients and get paid from the rented company. Simply focus on
									your work and clients without having to deal with the costs and time
									constraints of running your own company. Rent-a-Company helps you get paid,
									be more productive, save money, and increase your profits by up to 50%.
								</div>
							</aside>
						</div>
						<div class="col-lg-3">
							<aside id="nav_menu-4" class="widget widget_nav_menu">
								<h3 class="widget-title">Company</h3>
								<div class="menu-footer-company-container">
									<ul id="menu-footer-company" class="menu">
										<li id="menu-item-12199"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12199">
											<a href="support/index.html">Support &#038; Customer Service</a>
										</li>
										<li id="menu-item-11637"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11637">
											<a href="about/index.html">About Rent-a-Company</a>
										</li>
										<li id="menu-item-12200"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12200">
											<a target="_blank" rel="noopener"
												href="https://doingbusiness.eu/question-category/rentacompany/">Business
												Community</a>
										</li>
										<li id="menu-item-11990"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11990">
											<a href="support/index.html#consult">Book a Consultation</a>
										</li>
										<li id="menu-item-11638"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11638">
											<a href="affiliate/index.html">Affiliate Program</a>
										</li>
										<li id="menu-item-11635"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11635">
											<a href="index.html#about" aria-current="page">Why
												Rent-a-Company</a>
										</li>
										<li id="menu-item-11636"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11636">
											<a href="index.html#advantages" aria-current="page">Advantages
												&#038; Features</a>
										</li>
									</ul>
								</div>
							</aside>
						</div>
						<div class="col-lg-3">
							<aside id="nav_menu-6" class="widget widget_nav_menu">
								<h3 class="widget-title">How it Works</h3>
								<div class="menu-footer-how-it-works-container">
									<ul id="menu-footer-how-it-works" class="menu">
										<li id="menu-item-11639"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11639">
											<a href="index.html#companies" aria-current="page">Companies</a>
										</li>
										<li id="menu-item-11640"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11640">
											<a href="index.html#pricing" aria-current="page">Plans &#038;
												Pricing</a>
										</li>
										<li id="menu-item-11641"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11641">
											<a href="index.html#feecalculator" aria-current="page">Fee
												Calculator</a>
										</li>
										<li id="menu-item-11647"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11647">
											<a href="wizard/index.html">Wizard: Choose the Right Plan</a>
										</li>
										<li id="menu-item-11642"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11642">
											<a href="index.html#CaseStudies" aria-current="page">Case
												Studies</a>
										</li>
										<li id="menu-item-11643"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11643">
											<a href="index.html#team" aria-current="page">Team</a>
										</li>
										<li id="menu-item-11644"
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11644">
											<a href="index.html#faq" aria-current="page">FAQ</a>
										</li>
									</ul>
								</div>
							</aside>
						</div>
						<div class="col-lg-3">
							<aside id="text-3" class="widget widget_text">
								<h3 class="widget-title">Newsletter</h3>
								<div class="textwidget">
									<div class="wpcf7 no-js" id="wpcf7-f155-o2" lang="en-US" dir="ltr">
										<div class="screen-reader-response">
											<p role="status" aria-live="polite" aria-atomic="true"></p>
											<ul></ul>
										</div>
										<form action="https://rentacompany.com/#wpcf7-f155-o2" method="post"
											class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate"
											data-status="init">
											<div style="display: none;">
												<input type="hidden" name="_wpcf7" value="155" />
												<input type="hidden" name="_wpcf7_version" value="5.7.7" />
												<input type="hidden" name="_wpcf7_locale" value="en_US" />
												<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f155-o2" />
												<input type="hidden" name="_wpcf7_container_post" value="0" />
												<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
												<input type="hidden" name="_wpcf7_recaptcha_response" value="" />
											</div>
											<div class="widget_wysija_cont widget_wysija">
												<p>Sign up to our Magazine and receive our offers and news right
													in your Inbox! Get priority access to new features and
													tools.
												</p>
												<div class="wysija-paragraph">
													<p><span class="wpcf7-form-control-wrap"
															data-name="your-email"><input size="40"
																class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control wysija-input"
																aria-required="true" aria-invalid="false"
																placeholder="Email Address..." value="" type="email"
																name="your-email" /></span>
													</p>
												</div>
												<div class="d-table-cell">
													<p><input type="hidden" name="mc4wp-subscribe" value="1" /><input
															class="wpcf7-form-control has-spinner wpcf7-submit btn btn-primary wysija-submit font-weight-bold"
															type="submit" value="SUBSCRIBE" />
													</p>
												</div>
											</div>
											<p style="display: none !important;"><label>&#916;<textarea
														name="_wpcf7_ak_hp_textarea" cols="45" rows="8"
														maxlength="100"></textarea></label><input type="hidden"
													id="ak_js_2" name="_wpcf7_ak_js" value="30" />
												<script>document.getElementById("ak_js_2").setAttribute("value", (new Date()).getTime());</script>
											</p>
											<div class="wpcf7-response-output" aria-hidden="true"></div>
										</form>
									</div>

								</div>
							</aside>
							<aside id="nav_menu-5" class="widget widget_nav_menu">
								<div class="menu-policy-menu-container">
									<ul id="menu-policy-menu" class="menu">
										<li id="menu-item-7191"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7191">
											<a href="refund-policy/index.html">Refund Policy</a>
										</li>
										<li id="menu-item-7190"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7190">
											<a href="privacy-policy/index.html">Privacy Policy</a>
										</li>
									</ul>
								</div>
							</aside>
							<aside id="media_image-2" class="widget widget_media_image">
								<style>
									.widget.widget_media_image {
										overflow: hidden;
									}

									.widget.widget_media_image img {
										height: auto;
										max-width: 100%;
									}

								</style><img width="333" height="81"
									src="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/renta_logo_footer_3174b.png?fit=333%2C81&amp;ssl=1"
									class="image wp-image-2550  attachment-full size-full" alt="" decoding="async"
									loading="lazy" style="max-width: 100%; height: auto;" data-attachment-id="2550"
									data-permalink="https://rentacompany.com/renta_logo_footer_3/"
									data-orig-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/renta_logo_footer_3.png?fit=333%2C81&amp;ssl=1"
									data-orig-size="333,81" data-comments-opened="1"
									data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
									data-image-title="renta_logo_footer_3" data-image-description=""
									data-image-caption=""
									data-medium-file="https://i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/renta_logo_footer_3.png?fit=300%2C73&amp;ssl=1"
									data-large-file="../i0.wp.com/rentacompany.com/wp-content/uploads/2019/09/renta_logo_footer_3174b.png?fit=333%2C81&amp;ssl=1" />
							</aside>
						</div>
					</div>

				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="footer-left">
						<span class="footer-copyright">&copy; Copyright 2023 | All Rights Reserved.</span>
					</div>


				</div>
			</div>
		</div>


	</div>
</div>
